body{
    margin:0;
    background-color: #dba100;
    font-family: sans-serif;
}

.todo-container{
    width: 350px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h1{
    margin: 0 0 10px 0;
    color: #dba100;
}
.input-section{
    background-color: #f1da71;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 7px #0000008a;
}

input::placeholder{
    color: #dba100;
}

.input-section input{
    border-radius: 5px;
    border: 1px solid #dba100;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f1da71;
    outline: none;
    color: #dba100  ;
    font-size: 16px;
}

ul{
    text-align: left;
    padding: 0 ;
}

ul li{
    list-style: none;
    background-color: #f1da71;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    color: #dba100;
    box-shadow: 0 3px 6px #000000a1;
}

ul li i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

ul li input{
    border: none;
    background-color: #f1da71;
    color: #dba100;
    font-size: 16px;
    width: 80%;
}

ul li input:focus{
    outline: none;
}